.App-header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    background-color: black;
  }

.text {
  color: red;
  display: inline-flex;
  padding-left: 20px;
}
.tv-shows {
  color: white;
  display: inline-flex;
}